* {
  margin: 0;
  padding: 0;
}
    
canvas {
  display: block;
}
    
#marbles {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0e0e0e;
  z-index: 0;
  top: 0;
  left: 0;
}

a.btn-warning {
  border: none !important;
  border-radius: 4px !important;
  transition: transform 0.2s ease, box-shadow 0.2s ease !important;
}
a.btn-warning:hover {
  transform: translateY(-2px) !important;
  box-shadow: 0 4px 6px #ffc107 !important;
}


body {
    background-color: #0e0e0e !important;
    height: 100%;
}

section {
  position: relative;
  z-index: 1;
  padding: 20px;
  pointer-events: none;
}

section .btn {
  pointer-events: auto !important;
}

section a {
  pointer-events: auto !important;
}

img {
    width: 100%;
    height: 100%
}

.bg-black {
    background: #000
}

.skill-block {
    width: 30%
}

@media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
        padding: 32px !important
    }
}

@media (min-width: 1200px) {
    .skill-block {
        padding: 56px !important
    }
}

.profile-pic {
  border-radius: 50%;
  width: 450px;
  height: 450px;
}

.dropdown-item:hover {
  background-color: #15fbff !important;
}

.experties {
  margin-bottom: 0 !important;
  padding-bottom: 0 Im !important;
}

.services {
  margin-bottom: 150px !important;
}

.freelancer {

}